{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default Value - Currency
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-blue-200 shadow-md sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <div class="flex-shrink-0 flex items-center">
                <span class="text-xl font-bold text-blue-600">Currency and Coin Collection Hobby</span>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-6">
                <a href="/" class="text-gray-700 hover:text-blue-600 font-medium">Home</a>
                <a href="/fractional_currency" class="text-gray-700 hover:text-blue-600 font-medium">Fractional Currency</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>