{% extends "layout.html" %}

{% block titlee %}
Cuurency page
{% endblock %}

{% block content %}
<h1> All Fractional Currency </h1>
<div class="grid grid-cols-3 gap-4 m-4">
    {% for fractional in fractionals  %}
        <div class="bg-blue-800 p-5 rounded">
            <img class="rouded shadow-lg h-100 w-[100%]" src="{{fractional.image.url}}" alt="" />
            <span> Name: {{fractional.name}} </span> </br>
            <span> Year: {{fractional.year}} </span> </br>
            <span> Amount Paid: {{fractional.price_paid}} </span> </br>
            <span> Issue: {{fractional.issue}} </span> </br>
            <a href="{% url 'fractional_currency_details' fractional.id %}">
                <button
                    type="button"
                    class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md
                    text-white bg-orange-600 hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                >
                {{fractional.type}} - {{fractional.id}}
                </button>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

